body {
  margin: 0; }

.hidden {
  display: none; }

.hacker-news {
  display: flex;
  min-height: 100vh;
  font-size: 16px;
  color: #444;
  background: #efefef; }
  .hacker-news a, .hacker-news a:visited {
    color: #000; }
  .hacker-news header {
    padding: 5px;
    box-sizing: border-box;
    background: #F26522;
    min-width: 200px;
    width: 200px;
    color: #000;
    overflow-wrap: break-word; }
    .hacker-news header nav {
      margin-bottom: 15px;
      text-align: center;
      border-bottom: 1px solid #fff;
      padding-bottom: 15px;
      list-style: none; }
      .hacker-news header nav:last-child {
        border-bottom: 0; }
      .hacker-news header nav.user.logged-out a {
        text-decoration: underline; }
      .hacker-news header nav p {
        margin: 2px 0; }
      .hacker-news header nav form {
        margin: 0; }
    .hacker-news header input, .hacker-news header button {
      width: 100%;
      font-size: 16px; }
    .hacker-news header .home {
      font-weight: bold;
      padding: 5px 0; }
    .hacker-news header .points {
      background: #fff;
      color: #F26522;
      font-weight: bold;
      border-radius: 3px; }

.story-page .story:hover {
  border-color: #444;
  background: #ddd; }

.story {
  margin: 10px 0;
  display: flex;
  border-left: 5px solid transparent; }
  .story .byline, .story .more {
    font-size: 0.75em;
    line-height: 1.5em; }
    .story .byline a, .story .more a {
      text-decoration: underline; }

.voting {
  width: 50px;
  margin-right: 10px;
  text-align: center;
  font-size: 0.75em; }
  .voting .points {
    width: 100%;
    background: transparent;
    color: #444; }
  .voting .filler {
    height: 15px; }

.vote {
  text-align: center;
  cursor: pointer; }

.comments-main {
  margin-bottom: 25px;
  border-bottom: 2px solid #444; }
  .comments-main form {
    padding: 15px 25px; }
    .comments-main form textarea, .comments-main form button {
      display: block; }

.comment {
  display: flex;
  margin: 15px 0 5px 0; }
  .comment .children {
    margin-left: 20px; }
  .comment .message {
    padding: 5px;
    background: #ddd; }
  .comment button {
    background: transparent;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
    padding: 0; }

blockquote {
  margin: 0 0 0 3px;
  border-left: 2px solid #444;
  padding-left: 5px; }
