$dark-gray: #444444;
$light-gray: #efefef;
$black: #000000;
$white: #ffffff;
$gold: #BDA211;
$red: #C14242;
$hn-orange: #F26522;

body {
  margin: 0;
}

.hidden {
  display: none;
}


.hacker-news {
  display: flex;
  min-height: 100vh;
  font-size: 16px;
  color: $dark-gray;
  background: $light-gray;
  font-family: "Oxygen", sans-serif;

  a, a:visited {
    color: $black;
  }

  input[type=text], textarea {
    font-family: "Oxygen";
  }

  header {
    padding: 5px;
    box-sizing: border-box;
    background: $hn-orange;
    min-width: 200px;
    width: 200px;
    color: $black;
    overflow-wrap: break-word;

    nav {
      margin-bottom: 15px;
      text-align: center;
      border-bottom: 1px solid $white;
      padding-bottom: 15px;
      list-style: none;

      &:last-child {
        border-bottom: 0;
      }

      &.user.logged-out a {
        text-decoration: underline;
      }

      p {
        margin: 2px 0;
      }

      form {
        margin: 0;
      }
    }

    input, button {
      width: 100%;
      font-size: 16px;
    }

    .home {
      font-weight: bold;
      font-size: 20px;
      padding: 5px 0;
    }

    .points {
      background: $white;
      color: $hn-orange;
      font-weight: bold;
      border-radius: 3px;
    }
  }
}

.content {
  padding-bottom: 100px;
}

.story-page {

  .story:hover {
    border-color: $dark-gray;
    background: #ddd;
  }

  .more {
    margin: 0 0 15px 15px;
  }
}

.story {
  margin: 10px 0;
  display: flex;
  border-left: 5px solid transparent;

  a.more {
    color: #999;
    text-shadow: 1px 1px $white;
    margin-left: 15px;
  }

  .byline {
    font-size: 0.75em;
    line-height: 1.5em;
    
    a {
      text-decoration: underline;
    }
  }

  .story-controls {
    margin-left: auto;
    align-self: center;
  }
}

.voting {
  width: 50px;
  margin-right: 10px;
  text-align: center;
  font-size: 0.75em;

  .points {
    width: 100%;
    background: transparent;
    color: $dark-gray;
  }

  .filler {
    height: 15px;
  }
}


.vote {
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $hn-orange;
  }
}

.comments-main {
  margin-bottom: 25px;
  border-bottom: 2px solid $dark-gray;

  form {
    padding: 15px 25px;

    textarea, button {
      display: block;
      margin: 5px 0;
    }
  }
}

.comment {
  display: flex;
  margin: 15px 0 5px 0;

  .children {
    margin-left: 20px;
  }

  .user {
    font-size: 14px;
  }

  .message {
    font-family: "Noto Serif", serif;
    font-size: 14px;
    padding: 5px;
    background: #ddd;
  }

  button {
    background: transparent;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
  }
}

.saved-stories {
  padding: 15px;
  border-bottom: 1px solid $dark-gray;
  section {
    padding-bottom: 15px;
  }

  h2, h3, h4, h5, h6, p, ul {
    margin: 2px 0;
  }

  h2 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.9em;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  .story {
    .comments {
      text-decoration: underline;
      font-size: 0.9em;
      margin-left: 5px;
    }
  }
}


blockquote {
  margin: 0 0 0 3px;
  border-left: 2px solid $dark-gray;
  padding-left: 5px;
}

/* fontawesome related css */
i.fa {
  margin: 0 5px;
  cursor: pointer;

  &.fa-star-o:hover, &.fa-star {
    color: $gold;
  }

  &.fa-times:hover, &.fa-ban:hover {
    color: $red;
  }
}