body {
  margin: 0;
}

.hidden {
  display: none;
}

.hacker-news {
  display: flex;
  min-height: 100vh;
  font-size: 16px;
  color: #444;
  background: #efefef;

  a, a:visited {
    color: #000;
  }

  header {
    padding: 5px;
    box-sizing: border-box;
    background: #F26522;
    min-width: 200px;
    width: 200px;
    color: #000;
    overflow-wrap: break-word;

    nav {
      margin-bottom: 15px;
      text-align: center;
      border-bottom: 1px solid #fff;
      padding-bottom: 15px;
      list-style: none;

      &:last-child {
        border-bottom: 0;
      }

      &.user.logged-out a {
        text-decoration: underline;
      }

      p {
        margin: 2px 0;
      }

      form {
        margin: 0;
      }
    }

    input, button {
      width: 100%;
      font-size: 16px;
    }

    .home {
      font-weight: bold;
      padding: 5px 0;
    }

    .points {
      background: #fff;
      color: #F26522;
      font-weight: bold;
      border-radius: 3px;
    }
  }
}

.story-page {

  .story:hover {
    border-color: #444;
    background: #ddd;
  }
}

.story {
  margin: 10px 0;
  display: flex;
  border-left: 5px solid transparent;

  .byline, .more {
    font-size: 0.75em;
    line-height: 1.5em;
    
    a {
      text-decoration: underline;
    }
  }
}

.voting {
  width: 50px;
  margin-right: 10px;
  text-align: center;
  font-size: 0.75em;

  .points {
    width: 100%;
    background: transparent;
    color: #444;
  }

  .filler {
    height: 15px;
  }
}


.vote {
  text-align: center;
  cursor: pointer;
}

.comments-main {
  margin-bottom: 25px;
  border-bottom: 2px solid #444;

  form {
    padding: 15px 25px;

    textarea, button {
      display: block;
    }
  }
}

.comment {
  display: flex;
  margin: 15px 0 5px 0;

  .children {
    margin-left: 20px;
  }

  .message {
    padding: 5px;
    background: #ddd;
  }

  button {
    background: transparent;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
  }
}


blockquote {
  margin: 0 0 0 3px;
  border-left: 2px solid #444;
  padding-left: 5px;
}
