@import 'variables';

.voting {
  width: 50px;
  margin-right: 10px;
  text-align: center;
  font-size: 0.75em;

  .points {
    width: 100%;
    background: transparent;
    color: $dark-gray;
  }

  .filler {
    height: 15px;
  }
}
